<ion-header-bar class="bar-header bar-dark">
  <div class="h1 title title-centre light">New Member</div>
</ion-header-bar>

<ion-content class="container">
  <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="First Name" ng-model="fname">
      </label>
      <label class="item item-input item-floating-label">
      <span class="input-label">Last Name</span>
      <input type="text" placeholder="Last Name" ng-model="lname">
    </label>
  <button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click=addContent()> Submit </button>
</div>

</ion-content>
